<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <queries>
        <package android:name="com.rokid.openxr.runtime" />
        <package android:name="com.rokid.uxr.launcher" />
    </queries>

    <application
        android:networkSecurityConfig="@xml/innerworld_network_security_config"
        android:usesCleartextTraffic="true"
        tools:replace="android:networkSecurityConfig,android:usesCleartextTraffic">

        <meta-data
            android:name="rokid_uxr_sdk"
            android:value="true"
            tools:replace="android:value" />
        <meta-data
            android:name="com.rokid.sdk"
            android:value="uxr"
            tools:replace="android:value" />
        <meta-data
            android:name="com.rokid.uxr.application.mode"
            android:value="3d"
            tools:replace="android:value" />
        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true"
            tools:replace="android:value" />
    </application>
</manifest>
